# http://EditorConfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf

[*.yml]
indent_size = 2

[*.nix]
indent_size = 2

[LICENSE]
insert_final_newline = false
